/*
################
Start Header 
################
*/
.menu-container-wrapper {
  background-color: #ffffff;
}

.menu-header {
  margin-top: 45px;
}

.logo {
  float: left;
}

.menu-wrapper {
  float: right;
}

.menu li {
  list-style: none;
  float: left;
}

.menu li a:link,
.menu li a:visited {
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  padding: 10px 15px;
}

.logo img {
  width: 50%;
  height: auto;
}

.menu li a:hover {
  text-decoration: none;
  font-size: 12px;
  color: #000000;
  padding: 10px 15px;
  background-color: #d22a7f;
  border-radius: 5px;
}

/*
################
End Header 
################
*/
/*
################
Start Body
################
*/
.talents-wrapper {
  margin-top: 130px;
  width: 55%;
}

.talents-wrapper p {
  font-size: 16px;
  color: #aaabaf;
}

.img-wrapper {
  width: 100%;
  margin-bottom: 55px;
}

.img img {
  width: 100%;
  height: auto;
}

.left-side-wrapper {
  width: 80%;
}

.left-side-wrapper p {
  color: #a9a9a9;
  font-size: 20px;
}

.right-side-wrapper {
  width: 90%;
}

.right-side-wrapper p {
  color: #a9a9a9;
  font-size: 16px;
}

.section1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.mentoriai-text-wrapper-helper {
  margin-top: 60px;
  width: 100%;
}

.mentoriai-text-wrapper {
  width: 60%;
  margin: 0px auto;
  text-align: center;
}

.mentoriai-text-wrapper h5 {
  margin-bottom: 15px;
}

.mentoriai-text-wrapper p {
  font-size: 15px;
  color: #cbcad0;
}

.mentoriai-item-wrapper {
  margin-right: -25px;
  margin-left: -25px;
  margin-top: 30px;
}

.mentoriai-item {
  float: left;
  width: calc(16% - 43px);
  text-align: center;
  margin: 0 25px;
}

.mentoriai-item img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.mentoriai-item p {
  font-size: 12px;
  color: #b9b8bd;
}

.slider-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.veikia-content-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.veikia-content {
  width: 60%;
  margin: 0px auto;
  text-align: center;
}

.veikia-content h5 {
  margin-bottom: 15px;
}

.veikia-content p {
  font-size: 15px;
  color: #cbcad0;
}

.img-background {
  background-image: url("../img/pink_bg.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section2 {
  width: 100%;
  height: 500px;
  margin-left: 50px;
}

.text-col-left-wrapper,
.text-col-right-wrapper {
  margin-top: 100px;
  color: rgba(255, 255, 255, 0.7);
  width: 80%;
}

.program-h3-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.program-item-wrapper {
  text-align: center;
}

.program-item {
  display: inline-block;
  width: calc(33% - 90px);
  margin: 0 44px;
}

.program-item img {
  width: 100%;
  height: auto;
}

.program-item h5,
.program-item p {
  text-align: left;
}

.program-text p {
  color: #a9a9a9;
}

.komanda-right-side-wrapper {
  width: 80%;
}

.komanda-right-side-wrapper p {
  color: #a9a9a9;
}

.komanda-felt-side-wrapper,
.komanda-right-side-wrapper {
  margin-top: 100px;
  margin-bottom: 50px;
}

.komanda-item-wrapper {
  margin-top: 50px;
  margin-right: -25px;
  margin-left: -25px;
}

.komanda-item-wrapper .komanda-item {
  float: left;
  width: calc(16% - 43px);
  text-align: center;
  margin: 0 25px;
}

.komanda-item-wrapper .komanda-item .komanda-item-img-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 100%;
}

.komanda-item-wrapper .komanda-item .komanda-item-text-wrapper p {
  color: #a9a9a9;
  margin-bottom: 0px;
}

.komanda-item-wrapper .komanda-item .komanda-item-icon-wrapper ul {
  padding-left: 0;
}

.komanda-item-wrapper .komanda-item .komanda-item-icon-wrapper ul li {
  display: inline;
  list-style: none;
}

.komanda-item-wrapper .komanda-item .komanda-item-icon-wrapper ul li a img {
  margin: 5px 5px;
  max-width: 25px;
  height: auto;
}

.komanda2-item-wrapper {
  margin-top: 50px;
  margin-right: -25px;
  margin-left: -25px;
}

.komanda2-item-wrapper .komanda-item {
  float: left;
  width: calc(16% - 43px);
  text-align: center;
  margin: 0 25px;
}

.komanda2-item-wrapper .komanda-item .komanda-item-img-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 100%;
}

.komanda2-item-wrapper .komanda-item .komanda-item-text-wrapper p {
  color: #a9a9a9;
  margin-bottom: 0px;
}

.komanda2-item-wrapper .komanda-item .komanda-item-icon-wrapper ul {
  padding-left: 0;
}

.komanda2-item-wrapper .komanda-item .komanda-item-icon-wrapper ul li {
  display: inline;
  list-style: none;
}

.komanda2-item-wrapper .komanda-item .komanda-item-icon-wrapper ul li a img {
  margin: 5px 5px;
  max-width: 25px;
  height: auto;
}

.patarejai {
  margin-top: 60px;
}

.patarejai-item-wrapper {
  margin-right: -25px;
  margin-left: -25px;
}

.patarejai-item-wrapper .patarejai-item {
  float: left;
  width: calc(16% - 43px);
  text-align: center;
  margin: 0 25px;
}

.patarejai-item-wrapper .patarejai-item .patarejai-img-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 100%;
}

.patarejai-item-wrapper .patarejai-item .patarejai-item-text-wrapper p {
  color: #a9a9a9;
  margin-bottom: 0px;
}

.patarejai-item-wrapper .patarejai-item .patarejai-item-icon-wrapper ul {
  padding-left: 0;
}

.patarejai-item-wrapper .patarejai-item .patarejai-item-icon-wrapper ul li {
  display: inline;
  list-style: none;
}

.patarejai-item-wrapper .patarejai-item .patarejai-item-icon-wrapper ul li a img {
  margin: 5px 5px;
  max-width: 25px;
  height: auto;
}

.remejai {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.remejai h2 {
  text-align: center;
}

.remejai-all-content-wrapper .remejai-img-wrapper {
  width: 100%;
  text-align: center;
}

.remejai-all-content-wrapper .remejai-img-wrapper .remejai-img img {
  width: auto;
  max-height: 50px;
  margin: 3px 20px;
}

.remejai-all-content-wrapper .partneris-item-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.remejai-all-content-wrapper .partneris-item-wrapper .partneris-item {
  margin: 0 50px;
  display: inline-block;
  text-align: center;
}

.remejai-all-content-wrapper .partneris-item-wrapper .partneris-item img {
  width: auto;
  max-height: 50px;
}

.remejai-all-content-wrapper .draugai-content-wrapper {
  width: 100%;
  text-align: center;
}

.remejai-all-content-wrapper .draugai-content-wrapper .draigaiH6 {
  text-align: center;
}

.remejai-all-content-wrapper .draugai-content-wrapper .draugai-logo-wrapper img {
  width: auto;
  max-height: 50px;
  margin: 3px 20px;
}

.all-form-wrapper {
  width: 100;
}

.all-form-wrapper .form-text-wrapper {
  margin-bottom: 50px;
}

.all-form-wrapper .form-wrapper input {
  width: 70%;
  border: none;
  border-bottom: 1px solid #a9a9a9;
  outline: none;
  padding: 3px 5px;
  margin-bottom: 25px;
}

.all-form-wrapper .form-wrapper p {
  color: #a9a9a9;
  font-size: 16px;
  margin-bottom: 0px;
}

.all-form-wrapper .form-button-wrapper {
  margin-top: 25px;
}

.all-form-wrapper .form-button-wrapper a {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  background-color: #d22a7f;
  padding: 15px 25px;
  border-radius: 5px;
}

.form-foto-wrapper {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.form-foto-wrapper img {
  width: 100%;
  height: auto;
}

.all-form-wrapper,
.form-foto-wrapper {
  margin: 50px 0px;
}

/*
################
End Body
################
*/
/*
################
Start Fotter
################
*/
.footer-bacground {
  background-color: #26254f;
}

.footer-bacground .kontaktai-wrapper {
  margin-top: 30px;
}

.footer-bacground .kontaktai-wrapper h6, .footer-bacground .kontaktai-wrapper p {
  color: #ffffffb7;
}

.footer-bacground .fotter-links-wrapper ul {
  margin-top: 70px;
}

.footer-bacground .fotter-links-wrapper ul li {
  float: left;
  margin: 0 10px;
  list-style: none;
}

.footer-bacground .fotter-links-wrapper ul li a {
  font-size: 12px;
  color: #ffffffb7;
  text-decoration: none;
}

.footer-bacground .fotter-icons-wrapper ul {
  margin-top: 70px;
}

.footer-bacground .fotter-icons-wrapper ul li {
  float: left;
  list-style: none;
}

.footer-bacground .fotter-icons-wrapper ul li a img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footer-bacground .fotter-end-wrapper {
  width: 100%;
}

.footer-bacground .fotter-end-wrapper .coppyright-wrapper {
  float: left;
}

.footer-bacground .fotter-end-wrapper .coppyright-wrapper p {
  color: #ffffffb7;
}

.footer-bacground .fotter-end-wrapper .style-author-wrapper {
  float: right;
}

.footer-bacground .fotter-end-wrapper .style-author-wrapper p {
  color: #ffffffb7;
}

.footer-bacground .fotter-end-wrapper .style-author-wrapper p a {
  color: #ffffff;
}

/*
################
End Fotter
################
*/
@media only screen and (max-width: 1025px) {
  .mentoriai-item {
    width: calc(16% - 44px);
  }
  .komanda-item-wrapper .komanda-item {
    width: calc(16% - 44px);
  }
  .patarejai-item-wrapper .patarejai-item {
    width: calc(16% - 44px);
  }
}

@media only screen and (max-width: 769px) {
  .menu-wrapper {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .menu li a:link,
  .menu li a:visited {
    padding: 10px 10px;
  }
  .img-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .section1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .talents-wrapper {
    margin-top: 30px;
    width: 90%;
  }
  .mentoriai-text-wrapper-helper {
    margin-top: 10px;
    width: 100%;
  }
  .mentoriai-text-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .mentoriai-item {
    width: calc(32% - 45px);
  }
  .veikia-content {
    width: 100%;
  }
  .text-col-left-wrapper, .text-col-right-wrapper {
    margin-top: 60px;
    width: 100%;
  }
  .section2 {
    width: 100%;
    margin-left: 0px;
  }
  .program-item {
    width: calc(49% - 84px);
  }
  .komanda-item-wrapper .komanda-item {
    width: calc(32% - 45px);
  }
  .komanda2-item-wrapper .komanda-item {
    width: calc(32% - 45px);
  }
  .patarejai-item-wrapper .patarejai-item {
    width: calc(32% - 45px);
  }
}

@media only screen and (max-width: 415px) {
  .menu-wrapper {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .menu li a:link,
  .menu li a:visited {
    padding: 10px 10px;
  }
  .img-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .section1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .talents-wrapper {
    margin-top: 30px;
    width: 90%;
  }
  .mentoriai-text-wrapper-helper {
    margin-top: 10px;
    width: 100%;
  }
  .mentoriai-text-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .mentoriai-item {
    width: calc(48% - 44px);
  }
  .veikia-content {
    width: 100%;
  }
  .text-col-left-wrapper, .text-col-right-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .section2 {
    width: 100%;
    margin-left: 0px;
  }
  .img-background {
    background-image: url(../img/pink_bg2.png);
    width: auto;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .program-item {
    width: calc(100% - 90px);
  }
  .komanda-item-wrapper .komanda-item {
    width: calc(48% - 44px);
  }
  .komanda2-item-wrapper .komanda-item {
    width: calc(48% - 44px);
  }
  .patarejai-item-wrapper .patarejai-item {
    width: calc(48% - 44px);
  }
}

@media only screen and (max-width: 376px) {
  .menu-wrapper {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .menu li a:link,
  .menu li a:visited {
    padding: 10px 10px;
  }
  .img-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .section1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .talents-wrapper {
    margin-top: 30px;
    width: 90%;
  }
  .mentoriai-text-wrapper-helper {
    margin-top: 10px;
    width: 100%;
  }
  .mentoriai-text-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .mentoriai-item {
    width: calc(48% - 44px);
  }
  .veikia-content {
    width: 100%;
  }
  .text-col-left-wrapper, .text-col-right-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .section2 {
    width: 100%;
    margin-left: 0px;
  }
  .img-background {
    background-image: url(../img/pink_bg2.png);
    width: auto;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .program-item {
    width: calc(100% - 90px);
  }
  .komanda-item-wrapper .komanda-item {
    width: calc(48% - 44px);
  }
  .komanda2-item-wrapper .komanda-item {
    width: calc(48% - 44px);
  }
  .patarejai-item-wrapper .patarejai-item {
    width: calc(48% - 44px);
  }
}

@media only screen and (max-width: 321px) {
  .menu-wrapper {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .menu li a:link,
  .menu li a:visited {
    padding: 10px 10px;
  }
  .img-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  .section1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .talents-wrapper {
    margin-top: 30px;
    width: 90%;
  }
  .mentoriai-text-wrapper-helper {
    margin-top: 10px;
    width: 100%;
  }
  .mentoriai-text-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .mentoriai-item {
    width: calc(48% - 44px);
  }
  .veikia-content {
    width: 100%;
  }
  .text-col-left-wrapper, .text-col-right-wrapper {
    margin-top: 20px;
    width: 100%;
  }
  .section2 {
    width: 100%;
    margin-left: 0px;
  }
  .img-background {
    background-image: url(../img/pink_bg2.png);
    width: auto;
    height: 965px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .program-item {
    width: calc(100% - 90px);
  }
  .komanda-item-wrapper .komanda-item {
    width: calc(48% - 44px);
  }
  .komanda2-item-wrapper .komanda-item {
    width: calc(48% - 44px);
  }
  .patarejai-item-wrapper .patarejai-item {
    width: calc(48% - 44px);
  }
}
/*# sourceMappingURL=style.css.map */